* { 
    margin: 0; 
    padding: 0;
    background-color: bisque;
}
body { 
    font: 100% normal Arial, Helvetica, sans-serif; 
}
form,select, textarea {
    margin:0; 
    padding:0; 

}

form {
    display: inline-block;
}
.form{
    display:flex;
  justify-content: center;
}

    


.name{
    background-color: rgb(180, 180, 219);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}